

.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.average {
    grid-column:3;
    grid-row: 1;
    background-color: #DCDCDC;
    height: 400px;
    text-align: center;
}

.sidebar{
    grid-column: 1;
    grid-row: 1/2;
    background-color: #DCDCDC;
    height: 1000px;
   

}


.reviews {
    grid-column:2;
    grid-row: 1;
    background-color: #DCDCDC;
    height: 380px;
    text-align: center;
}

.sentiment {
    grid-column: 4;
    grid-row: 1;
    background-color: #DCDCDC;
    height: 400px;
    width: 400px;
    text-align: center;
}

.website {
    grid-column: 2/5;
    background-color: #DCDCDC;
    height:550px;
    grid-row: 2;
    margin-top: -550px;
    
}
.sidebarList {
    list-style-type: none;
    text-align: center;
   margin-top: 350px;
   
}

.box {
    height: 300px;
    width: 1350px;  
    background-color: #A9A9A9;
    margin-top:5%;
    margin-left:5%
  
}

